<div class="main-container">
  <div class="page-title-container">
    <div class="back-arrow">
      <svg
        width="12"
        height="22"
        viewBox="0 0 12 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 21L1 11L11 1"
          stroke="#004C6C"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="cart-name"><h5>Cart Name (21/05/2023)</h5></div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Available Stock</th>
          <th>Given Kg</th>
          <th>Raised Kg</th>
          <th>Last balance (1 pm)</th>
          <th>Add on stock</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Onion</td>
          <td>250 kg</td>
          <td>300 kg</td>
          <td>150 kg</td>
          <td>3 kg</td>
          <td><div class="add-on-stock-value-container">
            <div class="add-on-stock-left-minus"></div>
            <div class="add-on-stock-value"></div>
            <div class="add-on-stock-right-plus"></div>
          </div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
