<div class="main-container">
  <div class="pagen-title">
    <div class="back-arrow" style="padding-left: 30px; cursor: pointer">
      <svg
        width="12"
        height="22"
        viewBox="0 0 12 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 21L1 11L11 1"
          stroke="#004C6C"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="title-in-title"><span>Account Reconcile</span></div>
  </div>
  <div class="table-container">
    <table>
      <tr class="table-header">
        <th>Date</th>
        <th>Raised Id</th>
        <th>Bill Upload</th>
        <th>Revised Amount</th>
        <th>Paid Amount</th>
        <th>Balance Amount</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
      <tr>
        <td>21/03/2023</td>
        <td>OD00001</td>
        <td class="view">View</td>
        <td>4200</td>
        <td class="paid-amt">4200</td>
        <td>0</td>
        <td class="pay-btn"><button>Pay</button></td>
      </tr>
    </table>
  </div>
</div>

<!-- pay Action popup -->

<div class="popup" *ngIf="false">
  <div class="popup-close"></div>
  <div class="popup-container active-popup">
    <div class="title">
      <h3>Payment Gateway</h3>
    </div>
    <div class="options">
      <div>
        <input type="radio" id="html" name="fav_language" value="UPI" />
        <label for="html">UPI</label><br />
      </div>
      <div>
        <input type="radio" id="css" name="fav_language" value="CSS" />
        <label for="css">Net Banking</label><br />
      </div>
      <div>
        <input
          type="radio"
          id="javascript"
          name="fav_language"
          value="JavaScript"
        />
        <label for="javascript">JavaScript</label>
      </div>
    </div>
    <div class="buttons">
      <button class="back">Pay Now</button>
    </div>
  </div>
</div>

<div class="popup" *ngIf="false">
  <div class="popup-close"></div>
  <div class="popup-container active-popup">
    <div class="title">
      <h3>Paartner -1</h3>
    </div>
    <div class="table-container-popup">
      <table>
        <tr class="table-header">
          <th>Paid Date</th>
          <th>Payment Amount</th>
          <th>Pending Amount</th>
          <th>Payment Method</th>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
        <tr class="td-content">
          <td>22/02/2022</td>
          <td>4500</td>
          <td>4500</td>
          <td>UPI</td>
        </tr>
      </table>
    </div>
    <div class="button">
      <button class="back">Back</button>
    </div>
  </div>
</div>
