.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    height: 80px;
}



.title-name {
    display: flex;
    align-items: center;

}

.title-name h5 {
    color: var(--blue);
    font-size: 18px !important;
    font-weight: 700;
    margin-left: 5px;
}

.carts-container {
    padding: 0 25px 20px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 2.5%;
}

.carts-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    min-width: 23%;
    max-width: 300px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.carts-card .cart-image {
    width: 80%;
    border-radius: 100%;
    overflow: hidden;
}

.carts-card .cart-image img {
    width: 100%;
}

.cart-name {
    margin-bottom: 10px;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    font-size: 16px !important;
}

.updated-detail,
.cart-location,
.scv-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.updated-detail p,
.cart-location p,
.scv-name p {
    margin-left: 5px;
    max-width: 150px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.updated-detail {
    min-width: fit-content !important;
}

.updated-detail p {
    min-width: fit-content !important;
    font-size: 12px !important;
}

.inactived-scv {
    color: var(--red);
}

.add-scv p {
    color: #9A9CA0;
}

.edit-scv-icon {
    margin-left: 5px;
    display: none;

}

.scv-name:hover .edit-scv-icon {
    display: block;

}
.vehicle-detail{
    margin-top: 10px;
    min-width: fit-content !important;
}
.vehicle-detail p sub{
    font-size: 12px !important ;
    opacity: 70%;
}


/* popup */
.popup-container{
    padding: 30px 50px
}
.allocate-scv{
    display: flex;
}
.cart-detail-view{
    width: 250px;
    background-color: white;
}
.popup .carts-card{
    width: 100%;
}
.popup .cart-image{
    width: 120px;
    max-width: 120px;
}
.popup .select-scv{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

}
.select-scv p{
    margin: 10px 0;
    font-weight: 700;
}
.select-scv select{
    width: 80%;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.popup-container .title{
    width: fit-content;
    margin:0px auto 20px auto;
}
.popup-container .title h3{
    font-size: 18px !important;
    font-weight: 700;
    color: var(--blue);
}
.popup-container .buttons{
    width: fit-content;
    margin: auto;
}
.popup-container .buttons button{
    border: none;
    padding: 5px;
    min-width: 150px;
    color: white;
    margin-top: 30px;
}
.allocate-btn{
    background-color: var(--blue);

}

.active-popup{
    min-width: 700px;
    display: flex;
    padding:40px 0;
    flex-direction: column;
    align-items: center;
}
.active-popup .title{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.active-popup p{
    margin: 20px 0;
    font-weight: bold;
}
.active-popup .buttons button{
    min-width: 120px;
    border: none;
    padding: 7px 10px;
    margin:  0 10px;
    color: black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.316);
}
.remove-btn{
    background-color: var(--blue);
    color: white !important;
}