.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  height: 80px;
}

.page-title .back {
  background: none !important;
  display: flex;
  border: none;
  padding: 5px 0;
  margin-left: 15px;
}
.add-stock {
  background-color: var(--blue);
  color: white;
  display: flex;
  border: none;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.add-stock svg {
  margin-right: 5px;
}
.table-container .date {
  background-color: var(--blue);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-container .date button {
  background: none;
  border: none;
}
.table-container .date p {
  font-size: 18px !important;
  color: white;
  padding: 0 35px;
}

.title-name {
  display: flex;
  align-items: center;
}

.title-name h5 {
  color: var(--blue);
  font-size: 18px !important;
  font-weight: 700;
  margin-left: 5px;
}

.table-container {
  width: 97%;
  margin: auto;
}
table {
  width: 100%;
  background-color: white;
  table-layout: fixed;
}
table tr {
  height: 50px;
  border-bottom: solid rgba(128, 128, 128, 0.5) 1px;
}
table tr th,
table tr td {
  padding-left: 20px;
}
table tr th span {
  display: flex !important;
  align-items: flex-end;
}
table tr td span {
  display: flex;
  align-items: center;
}
table tr th span sub {
  font-size: 10px !important;
}
.table-header {
  background-color: #bfd2da;
  color: var(--blue);
}
.edit-detail-btn {
  background: #e5edf0;
  border: none;
  color: var(--blue);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
}
.edit-detail-btn svg {
  margin-right: 5px;
}
.action span button {
  height: 31px;
  width: 31px;
  border-radius: 3px;
  background-color: var(--blue);
  border: none;
}
.action span input {
  max-width: 70px;
  height: 30px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.234);
}
.buttons {
  width: 97%;
  margin: auto;
  height: 70px;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.buttons button {
  background-color: var(--blue);
  min-width: 150px;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 7px 0;
}
.submit {
  margin-right: 80px;
}
.buttons div {
  display: flex;
  align-items: flex-end;
}
.file-type,
.file-name {
  opacity: 70%;
  font-size: 10px !important;
  margin-left: 10px;
}
.btns {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-bill {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btns input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.popup-container {
  max-width: 40%;
}
.popup-container .title {
  text-align: center;
  color: red;
  font-weight: 900;
  font-size: 25px !important;
  padding-top: 10px;
}

.popup-container .content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}

.popup-container .content h3 {
  font-size: 25px !important;
  color: #004c6c;
}
.popup-container .buttons-popup {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90% !important;
  margin-top: 20%;
}
.popup-container .buttons-popup button {
  width: 140px;
  border: none;
  height: 50px;
  border-radius: 5px;
}
