.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  height: 80px;
}

.add-order {
  background-color: var(--blue);
  color: white;
  display: flex;
  border: none;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.add-order svg {
  margin-right: 5px;
}

.title-name {
  display: flex;
  align-items: center;
}

.title-name h5 {
  color: var(--blue);
  font-size: 18px !important;
  font-weight: 700;
  margin-left: 5px;
}
.title-name h5 span {
  margin-left: 10px;
}

.table-container {
  width: 97%;
  margin: auto;
}
table {
  width: 100%;
  background-color: white;
}
table tr {
  height: 50px;
  border-bottom: solid rgba(128, 128, 128, 0.5) 1px;
}
table tr th,
table tr td {
  padding-left: 20px;
}
.table-header {
  background-color: #bfd2da;
  color: var(--blue);
}
.edit-detail-btn {
  background: #e5edf0;
  border: none;
  color: var(--blue);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
}
.edit-detail-btn svg {
  margin-right: 5px;
}

.orderClick {
  text-decoration: underline;
  cursor: pointer;
}

.popup-container .popup-title {
  width: 100%;
}
.popup-title p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px !important;
  font-family: "Poppins";
  font-weight: 600;
  color: #004c6c;
}
.popup-table-container {
  margin-top: 10px;
}

.popup-table-container table {
  width: 650px;
  margin: auto;
  height: 400px !important;
}
.popup-table-container table thead {
  background-color: #004c6c;
  width: 100%;
  color: white;
  height: 30px;
  padding-left: 10px;
  margin: auto;
}
