<div class="main-container">
  <div class="page-title">
    <div class="cart-title">
      <h5>Cart Name 0001</h5>
    </div>
    <div class="edit-order-btn">
      <button (click)="EditRoute()">
        <svg
          style="padding-right: 5px"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.626 1.132L7.29 8.466L7.298 12.713L11.536 12.706L18.867 5.374C19.6133 6.80164 20.0021 8.38905 20 10C20 15.523 15.523 20 10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C11.669 0 13.242 0.409 14.626 1.132ZM18.486 0.101L19.899 1.515L10.707 10.707L9.295 10.71L9.293 9.293L18.485 0.0999999L18.486 0.101Z"
            fill="white"
          />
        </svg>
        Edit Orders
      </button>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Total kg</th>
          <th>Scv kg</th>
          <th>Partner kg</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>50 kg</td>
          <td>50 kg</td>
          <td>--</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ack-bottom">
    <button>Acknowledged</button>
  </div>
</div>
