.page-title h5 {
  color: #004c6c;
  font-weight: 600;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.comainTitle {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.comainTitle .switch-div {
  width: 45%;
  display: flex;
  justify-content: right;
}
.comainTitle .title-cartName {
  width: 50%;
  display: flex;
  justify-content: right;
}
.table-container-co {
  width: 97% !important;
  margin: auto;
}
.table-headers th {
  padding-left: 20px;
  padding: 9px;
  background-color: #004c6c;
  color: white;
}
.table-content td {
  padding: 6px;
  padding-left: 18px;
  border-bottom: 1px solid rgb(156, 144, 144);
}
.ack-btn {
  border: none;
  width: 150px;
  height: 35px;
  color: #5f904f;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 3px;
  background: rgba(95, 144, 79, 0.25);
}
.pack-btn button {
  width: 150px;
  height: 35px;
  border: none;
  background: rgba(33, 146, 255, 0.25);
  color: #2192ff;
  border-radius: 3px;
  font-family: "Poppins";
  font-weight: 600;
  size: 16px;
}
.ready-pkp-btn {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 4px;
  color: #004c6c;
  font-weight: 600;
  font-family: "Poppins";
  font-size: 16px;
  background: rgba(0, 76, 108, 0.25);
}
