<div class="main-container">
  <div class="page-title">
    <div class="comainTitle">
      <div class="title-cartName">
        <h5>Cart Name</h5>
      </div>
      <div class="switch-div">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="table-container" style="padding: 10px 30px">
    <table style="width: 100%; background: white">
      <tr class="table-headers">
        <th>Order ID</th>
        <th>Product</th>
        <th>Order Status</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr class="table-content">
        <td>0001</td>
        <td>Vendai</td>
        <td>order SuccessFul</td>
        <td>Pending</td>
        <td><button class="ack-btn">Acknowledge</button></td>
      </tr>
      <tr class="table-content">
        <td>0002</td>
        <td>Vendai</td>
        <td>order SuccessFul</td>
        <td>Acknowledged</td>
        <td class="pack-btn"><button>Pack</button></td>
      </tr>
      <tr class="table-content">
        <td>0002</td>
        <td>Vendai</td>
        <td>order SuccessFul</td>
        <td>Pending</td>
        <td><button class="ready-pkp-btn">Ready For Pick up</button></td>
      </tr>
    </table>
  </div>
</div>
