.sidebar{
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.dashboard-title{
    background-color: var(--blue);
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 15px;
    color: white;
}
.dashboard-title p{
    font-size: 18px !important;
    font-weight: 700;
    margin-left: 5px;
}
.sidebar ul{
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}
.sidebar ul li {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebar ul li a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-weight: 500;
}
.sidebar ul .active{
    background-color: var(--blue);
}
.sidebar ul .active a{
    color: white !important;

}