<div class="main-container2">
  <div class="login-content">
    <p>Welcome !</p>
    <span>Set Password</span>
  </div>
  <div class="login-forms" [formGroup]="SetPassWordForm">
    <div class="input-login">
      <label>Password:</label>
      <input
        type="password"
        placeholder="Enter password"
        formControlName="Password"
      />
    </div>
    <p class="err" *ngIf="submitted && SetPassWordForm.get('Password').invalid">
      Enter New Password
    </p>
    <div class="input-login">
      <label>Confirm Password:</label>
      <input
        type="password"
        placeholder="Re-Enter Password"
        formControlName="confirmPassword"
      />
    </div>
    <p
      class="err"
      *ngIf="submitted && SetPassWordForm.get('confirmPassword').invalid"
    >
      Enter Confirm Password
    </p>
    <p class="err" *ngIf="confirmPWD">Password MisMatched</p>
    <div class="login-btn">
      <button (click)="SetPasswordAttemp()">Submit</button>
    </div>
  </div>
</div>
